@model MaksuDetailViewModel

@{ ViewBag.Title = "Palkkatosite";}

@{ Layout = null;}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid d-flex justify-content-between">
                    <div class="col-md-3 pl-0">
                        <p class="mt-5 mb-2"><b>Yritys Oy</b></p>
                        <p>Uutelantie 1 E 12<br />06100<br />Porvoo</p>
                    </div>
                    <div class="col-md-3 pr-0">
                        <p class="mt-5 mb-2 text-right"><b>Maksupäivä: @Model.Maksupaiva.ToString("dd/MM/yyyy")</b></p>
                    </div>
                </div><br /><br />

                <div class="col-md-12 row">
                    <div class="col-md-8"><h5>Maksun saajan nimi : @Model.Kokonimi</h5></div>
                    <div class="col-md-4"><h5>Sotu : @Model.Sotu</h5></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive-md">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Ansiotulo</th>
                                <th>Tunnit</th>
                                <th>Tuntipalkka</th>
                                <th>Summa</th>
                                <th>Pidätykset</th>
                                <th>Summa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Säännöllinen työaika :</b></td>
                                <td>@Model.SaannolTunnit.ToString("f")</td>
                                <td>@Model.Tuntipalkka.ToString("f")</td>
                                <td>@Model.SaannolPalkka.ToString("C")</td>
                                <td><b>Veronpidätys :</b></td>
                                <td>@Model.Vero.ToString("C")</td>
                                <td><b>Eläkemaksu :</b></td>
                                <td>@Model.Elakemaksu.ToString("C")</td>
                                

                            </tr>
                            <tr>
                                <td><b>Ylityöt :</b></td>
                                <td>@Model.Ylityotunnit.ToString("f")</td>
                                <td>@Model.YlityoTuntipalkka.ToString("f2")</td>
                                <td>@Model.Ylityopalkka.ToString("C")</td>
                                <td><b>Sosiaaliturvamaksu :</b></td>
                                <td>@Model.Sotumaksu.ToString("C")</td>
                                <td><b>Sosiaaliturvamaksu :</b></td>
                                <td>@Model.Sotumaksu.ToString("C")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><b>Työttömyysvakuutusmaksu :</b></td>
                                <td>@Model.Tyottomyysvakuutus.ToString("C")</td>
                                <td><b>Liiton maksu :</b></td>
                                <td>@Model.Jasenmaksu.ToString("C")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Varalla :</b></td>
                                <td>Varalla 1000</td>
                            </tr>
                            <tr>
                                <td><b>Yhteensä :</b></td>
                                <td>@Model.TehdytTunnit</td>
                                <td></td>
                                <td>@Model.PalkkaYhteensa.ToString("C")</td>
                                <td></td>
                                <td>@Model.VahennuksetYhteensa.ToString("C")</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="table-dark"><b>Nettomaksu :</b></td>
                                <td class="table-dark">@Model.Nettopalkka.ToString("C")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>